* {
    background-color: black;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 40px;
    margin: 0 10px;
 
}





.sections {
    display: flex;
    gap: 60px;
    
}

.sections Link{
    cursor: pointer;
}
 .sections Link:hover{
    scale: 0.95;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
    text-decoration: underline;
    color: white;
}


/* .heading {
    cursor: poninter;
   selector:hover {
    scale: 0.95;
}
} */

.heading {
    cursor: pointer;
}

.heading:hover{
    scale: 0.95;
}


