.Rendering{
    background-color: blue;
    color: chartreuse;
    text-align: center;

    
}

.ProductsMultiple{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    list-style-type:none;
    margin: 30px 0 0 0 ;
}